---
# SMS控制台: https://dysms.console.aliyun.com
spring:
  cloud:
    alicloud:
      sms:
        # 状态报告接收-队列名称
        report-queue-name: "******"
        # 上行消息接收-队列名称
        up-queue-name: "******"
